{
    "root": true,
    "env": {
        "node": true
    },
    "extends": "eslint:recommended",
    "rules": {
        "no-console": "error",
        "no-unused-vars": "error",
        "quotes": [
            "error",
            "single"
        ],
        "indent": [
            "error",
            "tab"
        ],
        "getter-return": "error",
        "no-else-return": "error"
    }
}