<script setup lang="ts">
import { onMounted, ref } from 'vue';
const users = ref([]);
const loading = ref(false);

/* onMounted(async () => {
    useFirestore()
}); */
</script>

<template>
    <h1>
        Yolo
    </h1>
</template>